.dialog-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cancel-save-position {
    margin-left: 20px;
}